/* Mobile Menu */

.cas-mobile-menu {
  position: fixed;
  overflow: hidden;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-transparent);
  transition: all 0.3s ease-in-out;
  inset: 0;
}

.cas-mobile-menu__nav {
  width: 200px;
  height: 200px;
  background-color: var(--blue);
}

.cas-mobile-menu__list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.cas-mobile-header__item {
  list-style: none;
  color: var(--green);
}

@media screen and (max-width: 400px) {
  .cas-mobile-menu {
    display: flex;
  }
}
